.navbar{
    background-color: #3d626c;
    position: sticky;
    top: 0;
}
.navbar-nav .nav-link.active, .nav-link, .navbar-brand {
    color: white;
    font-family: 'EB Garamond', serif;
}
.navbar-brand{
    font-size: 30px;
    font-family: 'EB Garamond', serif;
    margin-left: 5%;
}
.navbar-brand:hover{
    color: #99a3ad;
}
.navbar-nav .nav-link.active:hover, .nav-link:hover{
    text-decoration: underline;
    color: white;
}
.navbar-nav{
    margin-right: 5%;
}
.btn{
    width: 11%;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 8%;
}
.banner{
    background-image: url("/img/imag.jpg");
    height: 651px;
    opacity: 0.5;
    background-size: cover;
}